<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="main">
    {{>header}}
    <p>Created by Imtiaz Rahman.<br>I am a student, learning backend development.<br>This site uses data from mapbox.com and api.openweathermap.org</p>
    </div>

    {{>footer}}
</body>
</html>