<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="main">
        {{>header}}
    
        <ul style="list-style-position: inside;">
        <li><a href ="#">{{m1}}</a></li>
        <li><a href ="#">{{m2}}</a></li>
        </ul>
    </div>    
        {{>footer}}
</body>
</html>